Project Manager 2/Project Manager/.vs/*

Projects Manager/*

Project Manager 2/Project Manager/Packages/*
Project Manager 2/Project Manager/Local Server API/bin/*
Project Manager 2/Project Manager/Local Server API/obj/*

OLD_CODE.exe/*
